@use "variables" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
#app {
	height: 100%;
	background-color: $bg-app;
	color: $text-primary;
	font-size: 13px;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: $border;
	border-radius: 3px;

	&:hover {
		background: $text-muted;
	}
}

svg {
	height: 16px;
	width: 16px;
	fill: $text-primary;
}
